<header>
<img src="assets/kuu_logo.png">
</header>

  <div class="row birds">
    
    <div class="span4 offset2"><%= render 'users/form' %></div>
    <div class="span4 offset2"><%= render 'sessions/log_in' %></div>
  </div>
  <div class="row birds_purple">
    <div>
      <div class="span12 offset2 ">  
        <div class="span3 testimonial_box">
           <p class="testimonial">Kuu has allowed me to keep checking in with my girl... while I'm out partying with the boys!</p>
           <p class="test_name">-Grant Winter</p>
        </div>
        <div class="span3 offset1 testimonial_box">
          <p class="testimonial">Kuu means I look productive at 7AM every morning. The psychological condition that requires I sleep-in every day can hold me back no more!</p>
          <p class="test_name">-Anonymous</p>
        </div>
        <div class="span3 offset1 testimonial_box">
           <p class="testimonial">I use it to set up all my birthday messages</p>
           <p class="test_name">-Jaleel White</p>
        </div>
      </div>
      
     
    </div>
  </div>
  <div class="row birds_green">
    <div>
      <div class="row">
        <div class="span9 offset2">
          <p class="features">Kuu is the new web service that allows you to send email and text messages whenever you want. </p>
        </div>
      </div>
    </div>
  </div>
  <div class ="row footer">
    
  </div> 
  

  <div class="row">


