<% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented this user from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li class="error_message"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>